<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>
<div data-ng-controller="TeamEdit">
<div class="row">
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{team.name}}</div>
				<div class="comment">{{team.teammates.length}} members</div>
			</rd-widget-body>
		</rd-widget>
	</div>
		<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-life-ring"></i>
				</div>
				<div class="title">Boat</div>
				<div class="comment">{{team.boat.name}}</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-user" title="Members">

      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding bg-success">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr data-ng-repeat="teammate in team.teammates"><td class="col-md-5">{{teammate.firstname}}</td><td class="col-md-5">{{teammate.lastname}} </td><td class="col-md-1"><a href="" ng-click="removeTeammate(teammate)"><i class="fa fa-times"></i></a></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
			<rd-widget>
				<rd-widget-header icon="fa-users" title="All teammates">
					<form ng-submit="addTeammate()" class="input-group">
						<input type="text" ng-model="search.name" class="form-control input-sm" />
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</form>
				</rd-widget-header>
				<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr data-ng-repeat="teammate in teammates | filter: nameFilter "  ng-if="isTeammateRegistredInTeam(teammate) == false"> <td class="col-md-5">{{teammate.lastname}}</td><td class="col-md-5">{{teammate.firstname}}</td><td class="col-md-1"><a href='' ng-click='addTeammate(teammate)'><i class="fa fa-plus"></i></a></td></tr>
							</tbody>
						</table>
	        		</div>
				</rd-widget-body>
			<rd-widget>
		</div>
	</div>
	<div class="text-center">
			<button class="btn btn-success" ng-click="saveProperties()">
			  <span class="glyphicon glyphicon-save"></span> Save Changes
			</button>
	</div>
</div>
