<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>

<div data-ng-controller="Auth">
	<div class="login-panel">
  <h1>Welcome to Analytics.</h1>
  <p>We are using GitHub for authorization. Please obtain your personal token and use it to sign in.</p>
  <form class="pure-form" ng-submit="login()">
      <input type="text" class="pure-input-1-3" placeholder="Username..." name="username" ng-model="username" required/>
      <input type="password" class="pure-input-1-3" placeholder="Personal Token..." name="password" ng-model="password" required/>

      <button type="submit" class="pure-button pure-button-primary">Sign in</button>
  </form>
</div>
</div>