<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>
<div data-ng-controller="RegattaEdit">
<div class="row">
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{regatta.team.length}}</div>
				<div class="comment">Registered teams</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-flag-checkered" title="Active Regatta">
				<a href="#/regatta/add"><i class="fa fa-plus"></i> Add</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding bg-success">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr data-ng-repeat="regatta in regattas"><td>{{regatta.name}}</td><td>3 Equipes inscrites</td><td><a href="#/regatta/edit/{{regatta.idRegatta}}"><i class="fa fa-pencil"></i></a></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
			<rd-widget>
				<rd-widget-header icon="fa-users" title="Registered teams">
					<form ng-submit="addTeams()">
					<input type="text" ng-model="search.team" typeahead-editable='false' typeahead="team as team.name for team in teams | filter:{name:$viewValue} | limitTo:4 " class="form-control input-sm" />
					</form>
				</rd-widget-header>
				<rd-widget-body classes="medium no-padding">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr data-ng-repeat="team in regatta.team"><td>{{team.name}}</td><td>{{team.teammates.length}} members</td><td><a href="#/team/edit/{{team.idTeam}}"><i class="fa fa-pencil"></i></a><td></td></td></tr>
							</tbody>
						</table>
	        		</div>
				</rd-widget-body>
			<rd-widget>
		</div>
</div>
</div>
